.h1{
    text-align: center;
    font-size: 250px;
    color:rgb(79, 79, 224);
}
/* body{

background-image:url('../../assets/images/מתנה.jpg');
    background-size:cover;
} */
/* body{
    background-image:url('src\img.jpg');
    background-size:cover;
} */
.links[_ngcontent-ng-c972181959]{
    background: #ebe5df;
  }